DB_HOST='localhost'
DB_POST=5432
DB_USERNAME='ENTER_DATABASE_USERNAME'
DB_PASSWORD='ENTER_DATABASE_PASSWORD'
DB_DATABASE='ENTER_DATABASE_NAME'

DB_TEST_HOST='localhost'
DB_TEST_PORT=5432
DB_TEST_USERNAME='ENTER_TESTING_DATABASE_USERNAME'
DB_TEST_PASSWORD='ENTER_TESTING_DATABASE_USERNAME'
DB_TEST_DATABASE='ENTER_TESTING_DATABASE_NAME'

HASH_SECRET=9ca0982e887047a48bfae4a3fe8868e4
ACCESS_TOKEN_SECRET=43437ecd06ed42a89229a74ddbc17285
ACCESS_TOKEN_EXPIRATION=30d
REFRESH_TOKEN_SECRET=a4ca1eb5f3bd4f8885f78b5acf6fbb7e
REFRESH_TOKEN_EXPIRATION=90d
COOKIE_SECRET=65605a789ac547538f1862ceca49855c